
<h2>Components</h2>
<div class="p-grid p-align-center">
    
    <div class="p-col"><button  routerLink="input" pButton type="button" label="Input"></button></div>
    <div class="p-col"><button  routerLink="button" pButton type="button" label="Button"></button></div>
    <div class="p-col"><button  routerLink="data" pButton type="button" label="Data"></button></div>
    <div class="p-col"><button  routerLink="overlay" pButton type="button" label="Overlay"></button></div>
    <div class="p-col"><button  routerLink="file" pButton type="button" label="File"></button></div>
    
</div>
<div class="p-grid">
    <div class="p-col"><button  routerLink="charts" pButton type="button" label="Charts"></button></div>
    <div class="p-col"><button  routerLink="messages" pButton type="button" label="Messages"></button></div>
    <div class="p-col"><button  routerLink="panel" pButton type="button" label="Panel"></button></div>
    <div class="p-col"><button  routerLink="misc" pButton type="button" label="Misc"></button></div>
    
</div>


<h2>Prime Flex</h2>

<app-prime-flex></app-prime-flex>

