<p>PrimeFlex es una utilidad de diseño sensible basada en flex ligera optimizada para teléfonos móviles, tabletas y computadoras de escritorio.</p>

<h3 class="first">Basic</h3>
<div class="p-grid">
    <div class="p-col">
        <div class="box">1</div>
    </div>
    <div class="p-col">
        <div class="box">2</div>
    </div>
    <div class="p-col">
        <div class="box">3</div>
    </div>
</div>


<h3>Reverse Direction</h3>
<div class="p-grid p-dir-rev">
    <div class="p-col">
        <div class="box">1</div>
    </div>
    <div class="p-col">
        <div class="box">2</div>
    </div>
    <div class="p-col">
        <div class="box">3</div>
    </div>
</div>

<h3>Column Direction</h3>
<div class="p-grid p-dir-col">
    <div class="p-col">
        <div class="box">1</div>
    </div>
    <div class="p-col">
        <div class="box">2</div>
    </div>
    <div class="p-col">
        <div class="box">3</div>
    </div>
</div>

<h3>Reverse Column Direction</h3>
<div class="p-grid p-dir-col-rev">
    <div class="p-col">
        <div class="box">1</div>
    </div>
    <div class="p-col">
        <div class="box">2</div>
    </div>
    <div class="p-col">
        <div class="box">3</div>
    </div>
</div>

<h3>12 Column Grid</h3>
<div class="p-grid">
    <div class="p-col-4">
        <div class="box">4</div>
    </div>
    <div class="p-col">
        <div class="box">1</div>
    </div>
    <div class="p-col">
        <div class="box">1</div>
    </div>
    <div class="p-col">
        <div class="box">1</div>
    </div>
    <div class="p-col">
        <div class="box">1</div>
    </div>
    <div class="p-col">
        <div class="box">1</div>
    </div>
    <div class="p-col">
        <div class="box">1</div>
    </div>
    <div class="p-col">
        <div class="box">1</div>
    </div>
    <div class="p-col">
        <div class="box">1</div>
    </div>
</div>

<div class="p-grid">
    <div class="p-col-2">
        <div class="box">2</div>
    </div>
    <div class="p-col-6">
        <div class="box">6</div>
    </div>
    <div class="p-col-4">
        <div class="box">4</div>
    </div>
</div>

<div class="p-grid">
    <div class="p-col-8">
        <div class="box">8</div>
    </div>
    <div class="p-col-2">
        <div class="box">2</div>
    </div>
    <div class="p-col-2">
        <div class="box">2</div>
    </div>
</div>

<h3>MultiLine</h3>
<div class="p-grid">
    <div class="p-col-6">
        <div class="box">6</div>
    </div>
    <div class="p-col-6">
        <div class="box">6</div>
    </div>
    <div class="p-col-6">
        <div class="box">6</div>
    </div>
    <div class="p-col-6">
        <div class="box">6</div>
    </div>
</div>

<h3>Fixed Width Column</h3>
<div class="p-grid">
    <div class="p-col-fixed" style="width:100px">
        <div class="box">100px</div>
    </div>
    <div class="p-col">
        <div class="box">auto</div>
    </div>
</div>

<h3>Responsive</h3>
<div class="p-grid">
    <div class="p-col-12 p-md-6 p-lg-3">
        <div class="box">p-col-12 p-md-6 p-lg-3</div>
    </div>
    <div class="p-col-12 p-md-6 p-lg-3">
        <div class="box">p-col-12 p-md-6 p-lg-3</div>
    </div>
    <div class="p-col-12 p-md-6 p-lg-3">
        <div class="box">p-col-12 p-md-6 p-lg-3</div>
    </div>
    <div class="p-col-12 p-md-6 p-lg-3">
        <div class="box">p-col-12 p-md-6 p-lg-3</div>
    </div>
</div>

<h3>Horizontal Alignment - Start</h3>
<div class="p-grid p-justify-start">
    <div class="p-col-2">
        <div class="box">2</div>
    </div>
    <div class="p-col-1">
        <div class="box">1</div>
    </div>
    <div class="p-col-4">
        <div class="box">4</div>
    </div>
</div>

<h3>Horizontal Alignment - End</h3>
<div class="p-grid p-justify-end">
    <div class="p-col-2">
        <div class="box">2</div>
    </div>
    <div class="p-col-1">
        <div class="box">1</div>
    </div>
    <div class="p-col-4">
        <div class="box">4</div>
    </div>
</div>

<h3>Horizontal Alignment - Center</h3>
<div class="p-grid p-justify-center">
    <div class="p-col-2">
        <div class="box">2</div>
    </div>
    <div class="p-col-1">
        <div class="box">1</div>
    </div>
    <div class="p-col-4">
        <div class="box">4</div>
    </div>
</div>

<h3>Horizontal Alignment - Between</h3>
<div class="p-grid p-justify-between">
    <div class="p-col-2">
        <div class="box">2</div>
    </div>
    <div class="p-col-1">
        <div class="box">1</div>
    </div>
    <div class="p-col-4">
        <div class="box">4</div>
    </div>
</div>

<h3>Horizontal Alignment - Around</h3>
<div class="p-grid p-justify-around">
    <div class="p-col-2">
        <div class="box">2</div>
    </div>
    <div class="p-col-1">
        <div class="box">1</div>
    </div>
    <div class="p-col-4">
        <div class="box">4</div>
    </div>
</div>

<h3>Horizontal Alignment - Even</h3>
<div class="p-grid p-justify-even">
    <div class="p-col-2">
        <div class="box">2</div>
    </div>
    <div class="p-col-1">
        <div class="box">1</div>
    </div>
    <div class="p-col-4">
        <div class="box">4</div>
    </div>
</div>

<h3>Vertical Alignment - Start</h3>
<div class="p-grid p-align-start vertical-container">
    <div class="p-col">
        <div class="box">4</div>
    </div>
    <div class="p-col">
        <div class="box">4</div>
    </div>
    <div class="p-col">
        <div class="box">4</div>
    </div>
</div>

<h3>Vertical Alignment - End</h3>
<div class="p-grid p-align-end vertical-container">
    <div class="p-col">
        <div class="box">4</div>
    </div>
    <div class="p-col">
        <div class="box">4</div>
    </div>
    <div class="p-col">
        <div class="box">4</div>
    </div>
</div>

<h3>Vertical Alignment - Center</h3>
<div class="p-grid p-align-center vertical-container">
    <div class="p-col">
        <div class="box">4</div>
    </div>
    <div class="p-col">
        <div class="box">4</div>
    </div>
    <div class="p-col">
        <div class="box">4</div>
    </div>
</div>

<h3>Vertical Alignment - Stretch</h3>
<div class="p-grid p-align-stretch vertical-container">
    <div class="p-col">
        <div class="box box box-stretched">4</div>
    </div>
    <div class="p-col">
        <div class="box box box-stretched">4</div>
    </div>
    <div class="p-col">
        <div class="box box box-stretched">4</div>
    </div>
</div>

<h3>Vertical Alignment - Per Column</h3>
<div class="p-grid vertical-container">
    <div class="p-col p-col-align-start">
        <div class="box">4</div>
    </div>
    <div class="p-col p-col-align-center">
        <div class="box">4</div>
    </div>
    <div class="p-col p-col-align-end">
        <div class="box">4</div>
    </div>
</div>

<h3>Offset</h3>
<div class="p-grid">
    <div class="p-col-6 p-offset-3">
        <div class="box">6</div>
    </div>
</div>

<div class="p-grid">
    <div class="p-col-4">
        <div class="box">4</div>
    </div>
    <div class="p-col-4 p-offset-4">
        <div class="box">4</div>
    </div>
</div>

<h3>Nested</h3>
<div class="p-grid nested-grid">
    <div class="p-col-8">
        <div class="p-grid">
            <div class="p-col-6">
                <div class="box">6</div>
            </div>
            <div class="p-col-6">
                <div class="box">6</div>
            </div>
            <div class="p-col-12">
                <div class="box">12</div>
            </div>
        </div>
    </div>
    <div class="p-col-4">
        <div class="box box-stretched">4</div>
    </div>
</div>